/***

Animations

***/

// Will add top-down movement when the element appears
@keyframes move-in{

	0%{
		transform: translateY(-50px) rotateX(90deg);
		opacity: 0;
	}

	50%{
		transform: translateY(-25px) rotateX(90deg);
	}

	100%{
		transform: translateY(0px) rotateX(0deg);
		opacity: 1;
	}
}

@keyframes move-out{

	0%{
		transform: translateY(0px) rotateX(0deg);
		opacity: 1;
	}	

	50%{
		transform: translateY(-25px) rotateX(90deg);
	}

	100%{
			transform: translateY(-50px) rotateX(90deg);
			opacity: 0;
		}
}

.anim-move-in{
	animation-fill-mode: forwards;
	animation-name: move-in;
  animation-duration: 0.3s;
}

.anim-move-out{
	animation-fill-mode: forwards;
	animation-name: move-out;
  animation-duration: 0.3s;
}

// Will add slight delay until the element appears
@keyframes delay{

	0%{
		opacity: 0;
	}

	75%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}

}

.anim-delay-1s{
	animation-name: delay;
  animation-duration: 1.5s;
}

@keyframes twist{

	0%{
		opacity: 0;
		transform: rotate(180deg) scale(3,3);
		box-shadow: none;
	}	

	100%{
		opacity: 1;
	}
}

.anim-twist{
	animation-name: twist;
  animation-duration: 0.5s;
}

@keyframes slide-in{
	0%{
		transform: scale(1, 0.2);
	}	
	100%{
		transform: scale(1, 1);
	}	
}

.anim-slide-in{
	animation-fill-mode: forwards;
	animation-name: slide-in;
  animation-duration: 0.2s;
  transform-origin: 0 0;
}

@keyframes slide-out{
	0%{
		transform: scale(1, 1) translate(0px, 0px);
	}	
	100%{
		transform: scale(1, 0) translate(0px, -80px);
	}	
}

.anim-slide-out{
	animation-fill-mode: forwards;
	animation-name: slide-out;
  animation-duration: 0.2s;
  transform-origin: 0 0;
}

@keyframes highlight{
	0%{
		// opacity: 0;
		// transform: scale(1, 0);
		outline: 2px solid transparent;
	}	
	15%{
		// opacity: 1;
		// transform: scale(1, 1);
	}
	50%{
		outline: 2px solid color('light-blue', 'darken-2');
		box-shadow: 0px 0px 20px 0px color('light-blue', 'darken-3');
	}
	100%{
		outline: 2px solid transparent;
	}
}

.anim-highlight{
	animation-name: highlight;
  animation-duration: 2s;
  transform-origin: 0 0;
}


// To animate element movement on media query breakpoints
.transitions,
.animated{
	transition: all 0.2s;
}

// When under element .outro in hierarchy, outro-animation is played
.intro .item-card,
.intro .item-card-heading,
.intro .animated
{ 
	@extend .anim-move-in;
}

// When under element .outro in hierarchy, outro-animation is played
.outro .item-card,
.outro .item-card-heading,
.outro .animated
{ 
	@extend .anim-move-out;
}