/***

Dialog

***/

.dialog-container{

	display: none;
	padding: 2rem;
	opacity: 0;

	@extend .overlay;
	@extend .layer-overlay;
	@extend .transitions;
}

.dialog-overlay{
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: 0.8;
	position: absolute;
	top: 0;
  left: 0;
}

.dialog{
	max-width: 800px;
	margin: auto;
	background-color: $white;
	opacity: 1;

  max-height: 90%;
  overflow-y: scroll;

	@extend .layer-dialog;
	@extend .valign;

	p{
		max-width: 600px;
	}

	.card-action{
		text-align: right;
	}

}

/***

Toast

***/

.toast{
	top: 0;
	position: fixed;
	margin-top: -0.1rem;
	left: 50%;
	min-width: 100px;
	transform: translateX(-50%);
	box-shadow: $shadow-outset-large;
	transition: none;
	opacity: 0.98;

	@extend .layer-context-menu;

	.btn{
		font-size: 1rem;
		font-weight: 400;
		margin-left: 1rem;
	}
}

/***

Dropdown

***/

.dropdown-content{

	overflow-y: visible;
	box-shadow: $shadow-outset-large;

	&::before{
	  content: "";
	  position: absolute;
	  box-shadow: $shadow-outset-triangle;
	  transform: rotate(225deg);
	  top: -10px;
	  right: 14px;
	  border-width: 10px;
	  border-style: solid;
	  border-color: transparent #FFF #FFF transparent;
	}

 li.title{

	  padding: 14px 16px;

	  line-height: 0.8rem;

	  height: 0.8rem;
	  min-height: 0.1rem;
	  cursor: initial;

		@extend .font-size-small;
		@extend .color-dark-grey;

		&:hover {
		    background-color: inherit;
		}
	}
}

.hotkey{

	@extend .font-size-small;
	@extend .color-dark-grey;
}

/***

Button styles

***/

.btn.teal{
	background-color: $teal-lighten-1;

	&:hover{
		background-color: $teal-lighten-2;
	}

	&:active{
		background-color: $teal-lighten-1;
	}
}

.btn:active,
.btn-large:active{
		background-color: $light-blue-darken-3;
		box-shadow: $shadow-inset;
	}

button.btn-toolbar{
	padding: 0 0.5rem;
	padding-left: 2.2rem;
	box-shadow: none;
	background-color: $white;
	position: relative;
	overflow: hidden;

	@extend .font-size-small;
	@extend .color-dark-grey;
	@extend .uppercase;

	&:hover,
	&:focus{
		background-color: $white;
	}

	& i.material-icons{

  	position: absolute;
  	left: 9px;
  	top: 0px;

		line-height: 36px;
		height: 36px;
	}

}

button.title{
	font-size: inherit;
	text-transform: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-align: left;
	box-shadow: none;
	padding: 0.5rem 0.5rem;
	margin-left: -$section-heading-margin;
	height: auto;
	min-width: 220px;
	opacity: 1;

	background-color: $white;
	@extend .color-black;

	&:hover,
	&:focus{
		background-color: $white;
	}

	&.active,
	&.active:hover{
		box-shadow: none;
		background-color: $light-blue-darken-3;
		color: $white;

		i.material-icons{
			opacity: 0;
		}
	}

	i.material-icons{
		font-size: inherit;
	}
}

.btn.submit{
	background-color: $teal-lighten-1;

	&:hover{
		background-color: $teal-lighten-1;
	}

	&:active{
		background-color: $teal-lighten-1;
	}
}

.btn-link{
	box-shadow: none !important;
	background-color: transparent !important;
}

#actions button{

	margin-bottom: $action-buttons-gap;
	width: 47%;

	&:first-child{
		margin-left: 0;
		margin-right: $action-buttons-gap;
	}

	&:last-child{
		margin-right: 0;
		margin-left: $action-buttons-gap;
	}
}

#go-incognito i.material-icons{
	font-size: 1.35rem;
}

/***

Forms

***/

.user-input{

	display: none;

	position: absolute;
	top: 0;
	left: 0;

	margin: 0;
	width: 100%;
	
	background-color: $light-blue-darken-3;
	box-shadow: $shadow-outset-large;

	&.centered{
		width: 400px;
		left: 50%;
		margin-left: -200px;
	}

	.card-title,
	.card-content,
	label{
		color: $white;
	}

  @extend .layer-context-menu;

	.card-action{
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		text-align: right;
		.cancel{
			@extend .btn-link;
		}
	}
}