$background: #36363a;
$border: #56565a;
$foreground: #202125;
$text: #dddddd;
$text-secondary: #a7a7a7;


@media (prefers-color-scheme: dark) {
  html {
    color: $text;
  }

  body {
    background-color: $background;
  }

  .nav-wrapper {
    background-color: $background;
  }

  .btn-toolbar {
    background-color: $background;
    &:hover,
    &:focus{
      background-color: $foreground;
    }
  }

  .select {
    color: $text;
    background-color: $background;
    &:hover,
    &:focus{
      background-color: $foreground;
    }
  }

  .item-card {
    &:hover,
    &:focus{
      background-color: $foreground;
    }
  }

  .color-black {
    color: $text;
  }

  .color-dark-grey {
    color:$text-secondary;
  }

  .section-separator{
    border-bottom-color: $border;
  }

  .dialog {
    background-color: $background;
  }

  footer{
    border-top-color: $border;
  }

  img {
    filter: brightness(.8) contrast(1.2);
  }
}
