/***

Item card styles

***/


.edit-actions{
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	width: 400px;
	margin-top: 0;
	margin-left: -200px;
	box-shadow: $shadow-outset-small;
	border-radius: 0 0 2px 2px;
	overflow: hidden;
	border: $dropzone-border;
  border-top: none;
  background-color: $light-blue-darken-3;

	@extend .layer-context-menu;
	@extend .hoverable;



	&::before{
		content: 'Drop Here To';
    display: block;
    text-align: center;
    padding: 0.6rem;
    background-color: $light-blue-darken-3;
    color: white;
    text-transform: uppercase;
	}

	li{
		display: inline-block;
		text-align: center;
		height: 70px;
		line-height: 70px;
		border-radius: 2px;
		border: 2px dashed transparent;

		@extend .uppercase;
		@extend .transitions;

		&:nth-child(odd){
			margin-right: 10px;
		}

		&::before{
			margin-right: 0.5rem;
			margin-top: -0.2rem;
    	vertical-align: middle;

			@extend .material-icons;
		}

	}

	.edit-actions-edit{

		width: 250px;
		color: color('green', 'darken-4');
		background-color: color('green', 'lighten-5');
		border-color: color('green', 'darken-3');	

		&::before{
			content: 'edit';
		}

		&.drag-over{
			color: $white;
			background-color: color('green', 'darken-3');

		}

	}

	.edit-actions-delete{
		width: 120px;
		color: color('red', 'darken-4');
		background-color: color('red', 'lighten-5');
		border-color: color('red', 'darken-3');

		&::before{
			content: 'delete_forever';
		}

		&.drag-over{
			color: $white;
			background-color: color('red', 'darken-3');
		}

	}

}

.item-card-list{
	min-height: $item-card-height + 0.5rem;
  position: relative;

  @extend .layer-front;
}

.drag-handle{
	display: none; // Hide by default
	cursor: move;
	vertical-align: top;
	color: $medium-grey;

	font-size: 1.6rem;
	padding-right: 0.5rem;
	line-height: 0.5rem;
	vertical-align: middle;
	height: 3rem;

}

// DnD ghost element styles
#ghost{
	.drag-handle{
		display: none;
	}

	transition: none;
	border: none;
	background-color: white;
	opacity: 0.7;
	box-shadow: $shadow-outset-large;

	z-index: 9999999999999999999999;

}

ul[data-list-editable]{
	.drag-handle{
		display: inline-block; // Show handle only if drag is enabled
	}
}

// The style of empty list placeholder
.item-card-empty{

	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	height: $item-card-height;
  line-height: $item-card-height;
  overflow: hidden;

	@extend .font-size-large;
	@extend .color-dark-grey;

}

.item-card{
	border: 2px dashed transparent;
	position: relative;
	height: $item-card-height;
	list-style-type: none;
	margin: 0;

	@extend .transitions;
	@extend .hoverable;

	&:active{
		box-shadow: $shadow-inset;
	}

	// When item card has no content
	&.empty{

		// Show the ålaceholder message
		.item-card-empty{
			display: block;
		}
		// Hide rest of the content
		a{
			display: none;
		}
		
		@extend .layer-front;
	}
}

// Change list style when drag operation is being done
.drag-in-progress{
	.item-card{
		box-shadow: none;
	}
	// the item that is being dragged
	.item-card.dragged{
		border-color: $light-grey;
		box-shadow: $shadow-inset;
	}

}

// Change list style when edit operation is being done
.edit-in-progress{
	.item-card{
		opacity: 0.5;
	}
	// the item that is being edited
	.item-card.editing{
		opacity: 1;
		box-shadow: none;
	}
}

.item-card-heading,
.no-items {
  padding-top: 0.6rem;
}

a.item-card-link{
	display: block;
	height: $item-card-height;
	padding: $item-card-padding;
	border-radius: 2px;
	overflow: hidden;

	@extend .color-black;
}

.item-card-badge{
	display: inline-block;
	// border-width: 0.4rem;
	// border-style: solid;
	margin-right: 0.6rem;
	width: 3.0rem;
	height: 3.0rem;
	opacity: 0.75;
  line-height: 3.1rem;
  border-radius: 2px;
  color: $white;
  // text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);

	@extend .center;
	@extend .bolder;
	@extend .uppercase;
}

.item-card-label-container{
	display: inline-block;
	vertical-align: middle;
	width: 80%; // For truncate to work (with text-overflow: ellipsis;)

	@extend .truncate;
}

.item-card-label{

}

.item-card-label-secondary{
	@extend .font-size-small;
	@extend .color-dark-grey;
}

// Styles for horizontal lists
.horizontal-list{
	li{
		display: inline-block;
		padding-right: 1rem;
		width: 100%; 
	}
}

li.item-card-heading{
	display: block;
	margin-left: $section-heading-margin;
}

// To display the 'no items in this list' -message when the list has no items =)
.no-items{
	position: absolute;
	padding-right: 1.5rem;
	padding-left: 0.5rem;

	@extend .animated;
	@extend .color-dark-grey;

	.headline{
		display: inline-block;
		margin-bottom: 1rem;

		@extend .font-size-large;
	}
}