/***

Colors

***/

$black: #000;
$white: #FFF;
$light-grey: #c7c7c7;
$dark-grey: #5a5a5a;

/***

To cancel stylesheet injection made by Chrome

***/

body{
	font-family: Roboto;
	font-size: 100%;
}

/***

Override Materialize.css

***/

// We don't want Materialize JS as it uses jQuery
// Hence we need some styles overwritten
select{
	display: inline-block;
  background-color: $white;
  padding: 5px 10px;
  border: 1px solid $light-grey;
  border-radius: 3px;
  width: auto;
  height: auto;
}

/***

Material icons

***/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./assets/material-design-icons/Material-Design-Icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Override the font size and icon space for navigation
nav i.material-icons{
	font-size: 1.5rem;

	&.left{
		margin-right: 8px;
	}
}

/***

Layers

***/

.layer-behind {
	z-index: -1;
}

.layer-default{
	z-index: 0;
}

.layer-loader{
	z-index: 99;
}

.layer-menu{
	z-index: 199;
}


/***

Font sizes

***/

.font-size-small{
	font-size: 0.8rem;
}

.font-size-regular{
	font-size: 1.0rem;
}

.font-size-large{
	font-size: 1.3rem;
}

/***

Helpers

***/

.thinner{
	font-weight: 200;
}

.thin{
	font-weight: 300;
}

.regular{
	font-weight: 400;
}

.bold{
	font-weight: 500;
}

.bolder{
	font-weight: 600;
}

.uppercase{
	text-transform: uppercase;
}

.color-black{
	color: $black;
}

.color-dark-grey{
	color: $dark-grey;
}

.btn-with-margin{
	margin: 0 0.5rem;
}

/***

Animations

***/

// Will add top-down movement when the element appears
@keyframes move-in{

	0%{
		margin-top: -1.5rem;
		transform: rotateX(180deg);
		opacity: 0;
	}

	100%{
		margin-top: 0;
		transform: rotateX(0deg);
		opacity: 1;
	}

}

.anim-move-in{
	animation-name: move-in;
  animation-duration: 0.3s;
}

// Will add slight delay until the element appears
@keyframes delay{

	0%{
		opacity: 0;
	}

	75%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}

}

.anim-delay-1s{
	animation-name: delay;
  animation-duration: 1.5s;
}

/***

Structure

***/

#loader{
	position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;

	@extend .layer-loader;

	.valign{
		width: 100%;
	}

	.progress{
		max-width: 300px;
		margin: auto;

		@extend .anim-delay-1s; // To hide the progress indicator unless loading takes more than 1s
	}

}

#actions{
	margin: 0.5rem 0 1rem 0;
}

/***

Item card styles

***/

.item-card{
	margin-bottom: 0.1rem;

	@extend .anim-move-in;
}

.item-card-heading {
   padding-top: 1.2rem;
}

a.item-card-link{
	display: block;
	padding: 0.5rem;

	@extend .color-black;
	@extend .hoverable;
}

.item-card-badge{
	display: inline-block;
	border-width: 0.4rem;
	border-style: solid;
	padding: 0.5rem 0;
	margin: 0.5rem;
	width: 3.7rem;
	height: 3.7rem;
	opacity: 0.75;

	@extend .font-size-large;
	@extend .center;
	@extend .bolder;
	@extend .uppercase;
	@extend .circle;
}

.item-card-label-container{
	display: inline-block;
	vertical-align: middle;
	width: 80%; // For truncate to work (with text-overflow: ellipsis;)

	@extend .truncate;
}

.item-card-label{

}

.item-card-label-secondary{
	@extend .font-size-small;
	@extend .color-dark-grey;
}


// Styles for horizontal lists
.horizontal-list li{
	display: inline-block;
	padding-right: 1rem;
	width: 33%;
}

