/***

Colors

***/

$black: #000;
$white: #FFF;
$light-grey: #c7c7c7;
$dark-grey: #5a5a5a;

/***

To cancel stylesheet injection made by Chrome

***/

body{
	font-family: Roboto;
	font-size: 100%;
}

/***

Override Materialize.css

***/

// We don't want Materialize JS as it uses jQuery
// Hence we need some styles overwritten
select{
	display: inline-block;
  background-color: $white;
  padding: 5px 10px;
  border: 1px solid $light-grey;
  border-radius: 3px;
  width: auto;
  height: auto;
}

nav{
	box-shadow: none;
	border-bottom: 1px solid $light-grey;
}

/***

Material icons

***/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./assets/material-design-icons/Material-Design-Icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Some icons are bugged and this will fix it
nav i.material-icons.bugged{
	max-width: 25px;
  overflow: hidden;
}

// Override the font size and icon space for navigation
nav i.material-icons{
	font-size: 1.5rem;

	&.left{
		margin-right: 8px;
	}
}

/***

Layers

***/

.layer-behind {
	z-index: -1;
}

.layer-default{
	z-index: 0;
}

.layer-loader{
	z-index: 99;
}

.layer-menu{
	z-index: 199;
}


/***

Font sizes

***/

.font-size-small{
	font-size: 0.8rem;
}

.font-size-regular{
	font-size: 1.0rem;
}

.font-size-large{
	font-size: 1.3rem;
}

/***

Helpers

***/

.thinner{
	font-weight: 200;
}

.thin{
	font-weight: 300;
}

.regular{
	font-weight: 400;
}

.bold{
	font-weight: 500;
}

.bolder{
	font-weight: 600;
}

.uppercase{
	text-transform: uppercase;
}

.color-black{
	color: $black;
}

.color-dark-grey{
	color: $dark-grey;
}

.color-white{
	color: $white;
}

/***

Animations

***/

// Will add top-down movement when the element appears
@keyframes move-in{

	0%{
		transform: translateY(-50px) rotateX(90deg);
		opacity: 0;
	}

	50%{
		transform: translateY(-25px) rotateX(90deg);
	}

	100%{
		transform: translateY(0px) rotateX(0deg);
		opacity: 1;
	}
}

@keyframes move-out{

	0%{
		transform: translateY(0px) rotateX(0deg);
		opacity: 1;
	}	

	50%{
		transform: translateY(-25px) rotateX(90deg);
	}

	100%{
			transform: translateY(-50px) rotateX(90deg);
			opacity: 0;
		}

}

.anim-move-in{
	animation-fill-mode: forwards;
	animation-name: move-in;
  animation-duration: 0.3s;
}

.anim-move-out{
	animation-fill-mode: forwards;
	animation-name: move-out;
  animation-duration: 0.3s;
}

// Will add slight delay until the element appears
@keyframes delay{

	0%{
		opacity: 0;
	}

	75%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}

}

.anim-delay-1s{
	animation-name: delay;
  animation-duration: 1.5s;
}

// When under element .outro in hierarchy, outro-animation is played
.intro .item-card,
.intro .item-card-heading,
.intro .animated
{ 
	@extend .anim-move-in;
}

// When under element .outro in hierarchy, outro-animation is played
.outro .item-card,
.outro .item-card-heading,
.outro .animated
{ 
	@extend .anim-move-out;
}

/***

Scrollbar

***/

// body::-webkit-scrollbar {
//   width: 12px;
// }
 
// body::-webkit-scrollbar-thumb {
//   background: #666;
// }

// body::-webkit-scrollbar-track {
//   background: #ddd;
// }

/***

Loader

***/

#loader{
	position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;

	@extend .layer-loader;

	.valign{
		width: 100%;
	}

	.progress{
		max-width: 300px;
		margin: auto;

		@extend .anim-delay-1s; // To hide the progress indicator unless loading takes more than 1s
	}

}

/***

Menu

***/

#visibility-on{
	display: none;
}

/***

Structure

***/

body{
	overflow-y: scroll; // This keeps the scrollbars always visible, so you don't get repositioning when toggling the visibility of elements
}

#actions{
	margin: 0.5rem 0 1rem 0;
}

/***

Button styles

***/

$action-buttons-gap: 0.6rem;

#actions button{

	margin-left: $action-buttons-gap / 2;
	margin-right: $action-buttons-gap / 2;

	//min-width: 180px;

	&:first-child{
		margin-left: 0;
	}

	&:last-child{
		margin-right: 0;
	}
}

/***

Item card styles

***/

.item-card{
	margin-bottom: 0.1rem;

	//@extend .anim-move-in;
}

.item-card-heading {
   padding-top: 1.2rem;
}

a.item-card-link{
	display: block;
	padding: 0.5rem;

	@extend .color-black;
	@extend .hoverable;
}

.item-card-badge{
	display: inline-block;
	border-width: 0.4rem;
	border-style: solid;
	padding: 0.5rem 0;
	margin: 0.5rem;
	width: 3.7rem;
	height: 3.7rem;
	opacity: 0.75;

	@extend .font-size-large;
	@extend .center;
	@extend .bolder;
	@extend .uppercase;
	@extend .circle;
}

.item-card-label-container{
	display: inline-block;
	vertical-align: middle;
	width: 80%; // For truncate to work (with text-overflow: ellipsis;)

	@extend .truncate;
}

.item-card-label{

}

.item-card-label-secondary{
	@extend .font-size-small;
	@extend .color-dark-grey;
}


// Styles for horizontal lists
.horizontal-list li{
	display: inline-block;
	padding-right: 1rem;
	width: 33%;
}

