/***

Noscript

***/

 noscript{
 	background-color: white;

 	@extend .overlay;
	@extend .layer-noscript;

}

/***

Loader

***/

#loader{
	background-color: white;

	@extend .overlay;
	@extend .layer-loader;

	.loader-intro{
		max-width: 300px;
		margin: auto;

		@extend .anim-delay-1s; // To hide the progress indicator unless loading takes more than 1s
	}

}

/***

Menu

***/

.nav-wrapper{
	padding: 0 0.4rem;
}

// #visibility-on,
// #visibility-off{
// 	opacity: 0;

// 	white-space: nowrap;

//   height: 36px;
//   width: 36px;

// 	@extend .transitions;

// }

/***

Structure

***/

body{
	overflow-y: scroll; // This keeps the scrollbars always visible, so you don't get repositioning when toggling the visibility of elements
	overflow-x: hidden;
	min-width: 650px;
}

.section-separator{
	border-bottom: $border-light;
}

.section-heading{
	display: inline-block;
	margin-right: 1rem;
	margin-left: $section-heading-margin;
}

.section-toolbar{
	display: inline-block;
	vertical-align: super;
}

#actions{
	margin: 0.5rem 0 1rem 0;
}

.container-large{
	width: 100%;
	margin: auto;
	max-width: 1500px;
	min-width: 450px;
}

.col-no-padding{
	padding: 0 !important;
}

.card-list-column{
	padding: 0;// Needs to add some padding for the hoverable shadow not to clip
}

footer{
	border-top: $border-light;
	margin-top: 3rem;
	padding: 2rem 0;
}