.center-align
	%br
	%p.logo
		TABU
	/ %p.font-size-small.color-dark-grey
	/ 	The New Tab page
	%br
	%p
		Copyright &copy; Mika Lindell

	%p
		Except:
		%br
		%a(href="https://fonts.google.com/specimen/Roboto")
			Roboto Font Family
		%br
		%a(href="https://design.google.com/icons/")
			Material Design Icons
		%br
		Material Design stylesheet by <a href="http://materializecss.com/">Materialize.css</a>
