%p
	Copyright &copy; Mika Lindell
%p
	%a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
		%img(alt="Creative Commons License" style="border-width:0" src="/styles/assets/license.png")
	%br
	This work is licensed under a
	%br
	%a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
		Creative Commons Attribution-ShareAlike 4.0 International License.
%p
	<a href="https://fonts.google.com/specimen/Roboto">Roboto Font Family</a> by Christian Robertson
	%br
	<a href="http://jakeluedecke.weebly.com/store/p37/NineteenOhFive.html">NineteenOhFive Font</a>  by Jake Luedecke
	%br
	<a href="https://design.google.com/icons/">Material Design Icons</a> courtesy of Google
	%br
	Material Design stylesheet by <a href="http://materializecss.com/">Materialize.css</a>