.center-align
	%br
	%p.logo
		TABU
	%p.font-size-small.color-dark-grey
		The New Tab page for Chrome
	%br
	%p
		Copyright &copy; Mika Lindell
	%p
		%a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
			%img(alt="Creative Commons License" style="border-width:0" src="/styles/assets/license.png")
		%br
		%br
		/ This work is licensed under a
		/ %br
		/ %a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
		/ 	Creative Commons Attribution-ShareAlike 4.0 International License.

	%p
		<a href="https://fonts.google.com/specimen/Roboto">Roboto Font Family</a> and 
		%br
		<a href="https://design.google.com/icons/">Material Design Icons</a> courtesy of Google
		%br
		%br
		Material Design stylesheet by <a href="http://materializecss.com/">Materialize.css</a>