!!! 5
%html(lang="en")
	%head
		%title
		%link(href="styles/app.css" rel="stylesheet")
		%link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	%body(data-app="newTab" id="app")
		%noscript
			.container
				%h4 I see you have disabled JavaScript :(
				%p 
					That's something I need to get things done.
					%br
					If you don't know how to enable JavaScript  
					%a(href="http://www.google.com/search?q=how+to+enable+javascript+in+chrome")
						click this link and let Google find it out 
					for you.
				%p
					TABU
					%br
					The New Tab page for Chrome 	
		#loader.valign-wrapper
			.valign
				.loader-intro.center-align
					%p.logo
						TABU
					.progress
						.indeterminate
		%nav
			.nav-wrapper.white
				%ul.right
					%li
						%button#visibility-toggle.btn.toolbar
							%span#visibility-off
								%i.material-icons visibility_off
								Hide All
							%span#visibility-on
								%i.material-icons.bugged visibility_on
					-# %li
					-# 	%a#settings.font-size-small.color-dark-grey.uppercase(href="#")
					-# 		%i.material-icons.left settings
					-# 		Settings
		#content-container
			.container-large
				.row.section
					%section.col.s12
						#speed-dial.card-list-column
							%h4.section-heading 
								%button#speed-dial-select.btn.title.animated
									Speed Dial
									%i.material-icons.right expand_more
						#top-sites.card-list-column
							%h4.section-heading 
								%button#top-sites-select.btn.title.animated
									Top Sites
									%i.material-icons.right expand_more
			.container-large
				.row.section
					%section.col.s12.center
						#actions
							%button#view-bookmarks.btn-large.animated
								%i.material-icons.left star
								Bookmarks
							%button#view-history.btn-large.animated
								%i.material-icons.left history
								History
							%button#view-downloads.btn-large.animated
								%i.material-icons.left file_download
								Downloads
							%button#go-incognito.btn-large.animated
								%i.material-icons.right open_in_new
								Go Incognito
			.container-large
				.row.section
					%section.col.s12.m6.l4.transitions
						#latest-bookmarks.card-list-column
							%h4.section-heading.animated Latest Bookmarks
					/ %section.col.s3
					/ 	#recent-history.card-list-column
					%section.col.s12.m6.l4.transitions
						#recently-closed.card-list-column
							%h4.section-heading.animated Recently Closed
					%section.col.s12.m6.l4.transitions
						#other-devices.card-list-column
							%h4.section-heading.animated Other Devices
		
			%footer
				.container.center-align
					%p.logo
						TABU
					%p.font-size-small.color-dark-grey
						The New Tab page for Chrome
					%p
						%button.btn#about
							About
					/ %p.font-size-small.color-dark-grey
					/ 	&copy; 2016 Mika Lindell
		%script(src="./scripts/app.js")
	