!!! 5
%html
	%head
		%title
	%body(data-app="newTab" id="app")
		- # This should be done in element creation with coffeescript 
		%button#view-bookmarks
			View Bookmarks
		%button#view-history
			View History
		%button#go-incognito
			Go Incognito
		#most-visited
			%h2 Top

		#recently-closed
			%h2 Closed

		#other-devices
			%h2 Devices

		#recent-bookmarks
			%h2 Marks

		%script(src="./scripts/app.js")
	