!!! 5
%html
	%head
		%title
		%link(href="styles/app.css" rel="stylesheet")
	%body(data-app="newTab" id="app")
		.container
			.row
				.col.s12
					#most-visited
						%h2 Top
			.row
				.col.s12
					%button#view-bookmarks
						View Bookmarks
					%button#view-history
						View History
					%button#go-incognito
						Go Incognito
			.row
				.col.s4
					#recent-bookmarks
						%h2 Marks
				.col.s4
					#recently-closed
						%h2 Closed
				.col.s4
					#other-devices
						%h2 Devices
						
		%script(src="./scripts/app.js")
	