!!! 5
%html(lang="en")
	%head
		%title
		%link(href="styles/app.css" rel="stylesheet")
		%link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	%body(data-app="newTab" id="app")
		#loader.valign-wrapper
			.valign
				.progress
					.indeterminate
		%nav
			.nav-wrapper.white
				%ul.right
					%li
						%a#visibility-off.font-size-small.color-dark-grey(href="#")
							%i.material-icons.left visibility_off
							Hide Us
					%li
						%a#visibility-on.font-size-small.light-blue.darken-3.color-white(href="#")
							%i.material-icons.left.bugged visibility_on
							See Us
					/ %li
					/ 	%a#settings.font-size-small.color-dark-grey(href="#")
					/ 		%i.material-icons.left settings
					/ 		Settings
		#content-container.container
			.row.section
				.col.s12
					#top-sites
						%h4 Top Sites
			.row.section
				.col.s12.center
					#actions
						%button#view-bookmarks.btn-large.light-blue.darken-3
							Bookmarks
						%button#view-history.btn-large.btn-with-margin.light-blue.darken-3
							History
						%button#view-downloads.btn-large.btn-with-margin.light-blue.darken-3
							Downloads
						%button#go-incognito.btn-large.light-blue.darken-3
							%i.material-icons.right open_in_new
							Go Incognito
			.row.section
				.col.s4
					#latest-bookmarks
						%h4 Latest Bookmarks
				.col.s4
					#recently-closed
						%h4 Recently Closed
				.col.s4
					#other-devices
						%h4 Other Devices

		%script(src="./scripts/app.js")
	