!!! 5
%html
	%head
		%title
		%link(href="styles/app.css" rel="stylesheet")
		%link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	%body(data-app="newTab" id="app")
		%nav
			.nav-wrapper.white
				%ul.right
					%li
						%a#visibility-mode(href="#")
							%i.material-icons.left visibility_off
							%span.font-size-small.color-dark-grey.uppercase
								Hide me
					%li
						%a#settings(href="#")
							%i.material-icons.left settings
							%span.font-size-small.color-dark-grey.uppercase
								Settings
		.container
			.row.section
				.col.s12
					#most-visited
						%h4 Top
			.row.section
				.col.s12.center
					#actions
						%button.btn-large#view-bookmarks
							View Bookmarks
						%button.btn-large.btn-with-margin#view-history
							View History
						%button.btn-large#go-incognito
							%i.material-icons.right open_in_new
							Go Incognito
			.row.section
				.col.s4
					#recent-bookmarks
						%h4 Marks
				.col.s4
					#recently-closed
						%h4 Closed
				.col.s4
					#other-devices
						%h4 Devices

		%script(src="./scripts/app.js")
	