!!! 5
%html(lang="en")
	%head
		%title
		%link(href="styles/app.css" rel="stylesheet")
		%link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	%body(data-app="newTab" id="app")
		%noscript
			.container
				%h4 I see you have disabled JavaScript :(
				%p 
					That's something I need to get things done.
					%br
					If you don't know how to enable JavaScript  
					%a(href="http://www.google.com/search?q=how+to+enable+javascript+in+chrome")
						click this link and let Google find it out 
					for you.
				%p
					TABU
					%br
					The New Tab page for Chrome 	
		#loader.valign-wrapper
			.valign
				.loader-intro.center-align
					%p.logo
						TABU
					.progress
						.indeterminate
		%nav
			.nav-wrapper.white
				%ul.right
					%li
						%a#visibility-off.font-size-small.color-dark-grey.uppercase(href="#")
							%i.material-icons.left visibility_off
							Hide Us
					%li
						%a#visibility-on.font-size-small.light-blue.darken-3.color-white.uppercase(href="#")
							%i.material-icons.left.bugged visibility_on
							See Us
					/ %li
					/ 	%a#settings.font-size-small.color-dark-grey.uppercase(href="#")
					/ 		%i.material-icons.left settings
					/ 		Settings
		#content-container
			.container
				.row.section
					%section.col.s12
						#top-sites
							%h4.animated Top Sites
							%p.no-items.animated
								%i.material-icons.left sentiment_neutral
								I looked, but I couldn't find anything.
				.row.section
					%section.col.s12.center
						#actions
							%button#view-bookmarks.btn-large.light-blue.darken-3.animated
								%i.material-icons.left star
								Bookmarks
							%button#view-history.btn-large.light-blue.darken-3.animated
								%i.material-icons.left restore
								History
							%button#view-downloads.btn-large.light-blue.darken-3.animated
								%i.material-icons.left file_download
								Downloads
							%button#go-incognito.btn-large.light-blue.darken-3.animated
								%i.material-icons.right open_in_new
								Go Incognito
			.container-large
				.row.section
					%section.col.s4
						#latest-bookmarks.card-list-column
							%h4.animated Latest Bookmarks
							%p.no-items.animated
								%i.material-icons.left sentiment_neutral
								It seems you have no bookmarks.
					/ %section.col.s3
					/ 	#recent-history.card-list-column
					/ 		%h4.animated Recent History
					/ 		%p.no-items.animated
					/ 			\-
					%section.col.s4
						#recently-closed.card-list-column
							%h4.animated Recently Closed
							%p.no-items.animated
								%i.material-icons.left sentiment_neutral
								I looked, but I couldn't find anything.
					%section.col.s4
						#other-devices.card-list-column
							%h4.animated Other Devices
							%p.no-items.animated
								%i.material-icons.left sentiment_neutral
								Nothing to show here just now.
		
			%footer
				.container.center-align
					%p.logo
						TABU
					%p.font-size-small.color-dark-grey
						The New Tab page for Chrome
					%p.font-size-small.color-dark-grey
						&copy; 2016 Mika Lindell

		%script(src="./scripts/app.js")
	