!!! 5
%html(lang="en")
	%head
		%title
		%link(href="styles/app.css" rel="stylesheet")
		%link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	%body(data-app="newTab" id="app")
		#loader.valign-wrapper
			.valign
				.progress
					.indeterminate
		%nav
			.nav-wrapper.white
				%ul.right
					%li
						%a#visibility-off.font-size-small.color-dark-grey.uppercase(href="#")
							%i.material-icons.left visibility_off
							Hide Us
					%li
						%a#visibility-on.font-size-small.light-blue.darken-3.color-white.uppercase(href="#")
							%i.material-icons.left.bugged visibility_on
							See Us
					/ %li
					/ 	%a#settings.font-size-small.color-dark-grey.uppercase(href="#")
					/ 		%i.material-icons.left settings
					/ 		Settings
		#content-container
			.container
				.row.section
					%section.col.s12
						#top-sites
							%h4.animated Top Sites
							%p.no-items.animated
								%span.headline I looked, but I didn't find anything.
								%br
								Usually here is a list of websites Chrome has cherry picked for you based on your preferences.
				.row.section
					%section.col.s12.center
						#actions
							%button#view-bookmarks.btn-large.light-blue.darken-3.animated
								%i.material-icons.left star
								Bookmarks
							%button#view-history.btn-large.light-blue.darken-3.animated
								%i.material-icons.left restore
								History
							%button#view-downloads.btn-large.light-blue.darken-3.animated
								%i.material-icons.left play_for_work
								Downloads
							%button#go-incognito.btn-large.light-blue.darken-3.animated
								%i.material-icons.right open_in_new
								Go Incognito
				.row.section
					%section.col.s4
						#latest-bookmarks
							%h4.animated Latest Bookmarks
							%p.no-items.animated
								%span.headline I couldn't find anything to show here.
								%br
								Usually here is a list of your most recent bookmarks.
					%section.col.s4
						#recently-closed
							%h4.animated Recently Closed
							%p.no-items.animated
								%span.headline I looked, but I didn't find anything.
								%br
								Usually here is a list of recent websites you have visited and then closed the tab or the window.
					%section.col.s4
						#other-devices
							%h4.animated Other Devices
							%p.no-items.animated
								%span.headline I couldn't find anything to show here.
								%br
								Usually here is a list of websites you have viewed with your other devices like tablet or smartphone (while logged in to Chrome).
		
			%footer
				.container.center-align
					%p.font-size-small.color-dark-grey
						&copy; 2016 Mika Lindell

		%script(src="./scripts/app.js")
	